{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% load i18n %}
{% load staticfiles %}
{%load static%}

{% block title %}
<title>{% trans "SMI - Forgot Password" %}</title>
{% endblock %}
{% block body %}
<script type="text/javascript" src="{% static 'retrieve_password/js/forgot.js' %}"></script>

<!-- Modal -->
<div class="modal fade" id="confirmMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans "Forgot Password"%}</h4>
      </div>
      <div class="modal-body">
        <span id='message'></span>
        <p id='validate'></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close"%}</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-signin">
      {% csrf_token %}
      <h2 class="form-signin-heading text-center">{% trans "Recover Password"%}</h2>
      <div class="form-group">
        <label for="email" class="sr-only">{% trans "Email address" %}</label>
        <input type="user" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
        <p class="text-warning" id="error_msg" hidden="true" >*{% trans "Invalid Email"%}</p>
        <img id="loading_img" src="{% static "retrieve_password/spin.gif" %}" alt="loading" hidden="true"/ >
      </div>
      <button id='forgot_btn' class="btn btn-lg btn-primary btn-block">{% trans "Send Email" %}</button>
    </form>

    <div class="panel panel-success" id="success_panel" hidden="true">
      <div class="panel-heading"> {% trans "Email sended with success"%} </div>
      <div class="panel-body">{% trans "Enter with Link that was sended for your email and register a new Password"%} </div>
    </div>

  </div>
</div>
{% endblock %}
