{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{user.name}} - {% trans "Informações" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'users:index' %}">{% trans "Usuários" %}</a></li>
    <li class="active">{{user.first_name}}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">

      <header class="page-header">
        <h1 class="page-title">{{user.get_full_name}}</h1>
      </header>

      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <b><a href="{% url 'users:edit_user' user_id=user.id %}" class="btn btn-warning">{% trans "Editar Informações" %}</a></b>

          <form class="enable_disable_buttons" action="{% url 'users:delete_user' user_id=user.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger onclick=" onclick="return confirm('Deseja realmente excluir o usuário?')">{% trans "Excluir Usuário" %}</button>
          </form>
        </div>
        <hr>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Informações" %}</h3>
            <hr>

            <div class="top-margin">
              <label>{% trans "Nome de Usuário" %}:</label>
              <p>{{user.username}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Nome" %}:</label>
              <p>{{user.first_name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Sobrenome" %}:</label>
              <p>{{user.last_name}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Email" %}:</label>
              <p>{{user.email}}</p>
            </div>

            <div class="top-margin">
              <label>{% trans "Tipo de Usuário" %}:</label>
              {% if user.is_superuser %}
                <p>{% trans "Adminstrador" %}</p>
              {% else %}
                <p>{% trans "Normal" %}</p>
              {% endif %}
            </div>

            {% if user_permissions %}
            <div class="top-margin">
              <label>{% trans "Permissões" %}:</label>
                {% for permission in user_permissions %}
                  <p>{{permission.name}}</p>
                {% endfor %}
            </div>
            {% endif %}
          </div> <!-- end div panel- -->
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
